<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @git_repostory.project %>
</p>

<p>
  <strong>Link:</strong>
  <%= @git_repostory.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @git_repostory.title %>
</p>

<%= link_to 'Edit', edit_git_repostory_path(@git_repostory) %> |
<%= link_to 'Back', git_repostories_path %>
