<p id="notice"><%= notice %></p>

<h1>Docs</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Link</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docs.each do |doc| %>
      <tr>
        <td><%= doc.project.title %></td>
        <td><%= doc.link %></td>
        <td><%= doc.title %></td>
        <td><%= button_to 'Show', doc, class:"portfolio-btn", method: "get" %></td>
        <td><%= button_to 'Edit', edit_doc_path(doc), class:"portfolio-btn", method: "get" %></td>
        <td><%= button_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }, class:"portfolio-btn", method: "get" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Doc', new_doc_path, method:"get", class:"portfolio-btn" %>
