<p id="notice"><%= notice %></p>
<div class="container border-gradient border-gradient-purple text-center " id="main-col" style="padding: 50px;">
<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>