<!DOCTYPE html>
<html>
  <head>
    <title>GausamahPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <header id="header" class="fixed-top d-flex align-items-center">

      <!--- Logo ---->
      <h1 class="logo me-auto me-lg-0">

        <a href="/" id="title-header" style="margin-left: 25px;">Jesus Gautamah</a>

      </h1>

      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
   
        <nav id="navbar" class="navbar order-last order-lg-0">

          <ul>
            <li><a class="nav-link" href="/">Home</a></li>         
          </ul>

          <% @sections.each do |section| %>

            <ul>
              <li><a class="nav-link" href="/"><%= section.title %></a></li>         
            </ul>
            
          <% end %>
          <ul>
          <li class="dropdown >"><a class="nav-link" href="/"><span>GitHub</span></a>

              <ul>

            
                


                <!--- GitHub Card ---->

                  
                  <div class="github-card" data-github="JesusGautamah" data-width="300" data-height="170" data-theme="default"></div>
                  <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>


                
              </ul>
            </li>
            </ul>
            
            
            <button  class="portfolio-btn mobile-nav-toggle"><a id="nav-toggle" style="margin-left: -25px;margin-top: -10px;right: 150;">menu</a></button>

        </nav>  

      </div>

    </header>

    <section class="hero" id="hero">

      <div class="container text-center">

            <div class="container text-center border-gradient border-gradient-purple" id="hero-col"  >
              <div class="row" style="margin-top: -50px; margin-bottom: 50px;">
                <div class="col-md-4 text-center">
                
                  <%= image_tag "gg.jpg", style: "width: 120px; height:auto; border-radius: 360px;" %>
                  <h1 style=" font-size: 22px;">Hi, i'm Jesus Gautamah </h1>
                  <h1 style=" font-size: 22px;"> Welcome to my portfolio </h1>

                </div>

              <div class="col-md-4 text-center">
                <h1 style=" font-size: 22px;">🔭Testing personal projects...</h1>
                <h1 style=" font-size: 22px;">🌱Currently studying Computer Science...</h1>
                <h1 style=" font-size: 22px;">🤔Looking to improve knowledge...</h1>
              </div>
              
              <div class="col-md-4 text-center">
                <br>
                <h1 style=" font-size: 22px;">Scroll Down</h1>
                <h1 style=" font-size: 22px;">To See</h1>
                <h1 style=" font-size: 22px;">More Details</h1>
              </div>
              </div>
              </div>
              
            </div>
          </div>
          

      </div>

    </section>
  <div class="main" id="main">
  <br>
    <div class="container-fluid section-bg " id="main-content" style="border-radius: 20px; width: 90%; ">
    
    <%= yield %>
    </div>
</div>




  

  

 
  <script>

  

    (function() {
  "use strict";

 
    
  /**
   * Easy selector helper function
   */
  const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }

  /**
   * Easy event listener function
   */
  const on = (type, el, listener, all = false) => {
    let selectEl = select(el, all)
    if (selectEl) {
      if (all) {
        selectEl.forEach(e => e.addEventListener(type, listener))
      } else {
        selectEl.addEventListener(type, listener)
      }
    }
  }

  /**
   * Easy on scroll event listener 
   */
  const onscroll = (el, listener) => {
    el.addEventListener('scroll', listener)
  }


  /**
   * Toggle .header-scrolled class to #header when page is scrolled
   */
  let selectHeader = select('#header')
  let selectTopbar = select('#topbar')
  if (selectHeader) {
    const headerScrolled = () => {
      if (window.scrollY > 100) {
        selectHeader.classList.add('header-scrolled')
        if (selectTopbar) {
          selectTopbar.classList.add('topbar-scrolled')
        }
      } else {
        selectHeader.classList.remove('header-scrolled')
        if (selectTopbar) {
          selectTopbar.classList.remove('topbar-scrolled')
        }
      }
    }
    window.addEventListener('load', headerScrolled)
    onscroll(document, headerScrolled)
  }

  /**
   * Mobile nav toggle
   */
  on('click', '.mobile-nav-toggle', function(e) {
    select('#navbar').classList.toggle('navbar-mobile')
    select('#hide').classList.toogle('sidenav-hidden')
    

    if (select('#nav-toggle').textContent === "menu") {
      select('#nav-toggle').innerHTML = "fechar menu"
    } else {
      select('#nav-toggle').innerHTML = "menu"
    }
  })

})()

  </script>

   
  </body>
</html>
