<!DOCTYPE html>
<html>
  <head>
    <title>GausamahPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <header id="header" class="fixed-top d-flex align-items-center">

      <!--- Logo ---->
      <h1 class="logo me-auto me-lg-0">

        <a href="/" id="title-header" style="margin-left: 25px;">Jesus Gautamah</a>

      </h1>

      <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
   
        <nav id="navbar" class="navbar order-last order-lg-0">

          <ul>
            <li><a class="nav-link" href="/">Home</a></li>         
          </ul>

          <% @sections.each do |section| %>

            <ul>
              <li><a class="nav-link" href="/"><%= section.title %></a></li>         
            </ul>
            
          <% end %>
          <ul>
          <li class="dropdown >"><a href="/"><span>GitHub</span></a>

              <ul>

            
                


                <!--- GitHub Card ---->

                  
                  <div class="github-card" data-github="JesusGautamah" data-width="300" data-height="170" data-theme="default"></div>
                  <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>


                
              </ul>
            </li>
            </ul>


        </nav>  

      </div>

    </header>

    <section class="hero" id="hero">

      <div class="container text-center">

            <div class="container text-center border-gradient border-gradient-purple" id="hero-col"  >
                
                <br>
                <%= image_tag "gg.jpg", style: "width: 160px; height:auto; border-radius: 160px;" %>
                <br>
                <br>
                <h1 style=" font-size: 30px;"> Jesus Gautamah </h1>
                <h1 style=" font-size: 30px;"> Welcome to my portfolio </h1>
                <br>

    
              </div>
              <div class="container">
                
              </div>
            </div>
          </div>
          

      </div>

    </section>
      
    
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js">
      

    </script>

  </body>
</html>
